<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commcheck.sbquickstart.mapper.TicketMapper">
    <select id="list" resultType="com.commcheck.sbquickstart.pojo.Ticket">
        select * from tickets
        <where>
            <if test="state != null">
                AND state = #{state}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="belongsTo != null">
                AND belongsTo = #{belongsTo}
            </if>
            <if test="ownerId != null">
                AND ownerId = #{ownerId}
            </if>
            <if test="assigneeId != null">
                AND assigneeId = #{assigneeId}
            </if>
            <if test="watcherId != null">
                AND id IN (SELECT ticketId FROM ticket_watcher WHERE userId = #{watcherId})
            </if>
            AND belongsTo IN (SELECT categoryId FROM user_category WHERE userId = #{currentUserId})
        </where>
    </select>
</mapper>